{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>Add Wishlist</title>
{% endblock meta %}

{% block content %}

<section class = "full-width d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-center align-items-center w-50">
        <div class="card bg-light w-75" style="border-radius: 2rem;">
            <div class="row g-0">
                <div class="card-body mx-3">
                    <h1 class="card-title mb-5 mt-3">Add Wishlist</h1>
                    <form class="ml-3" method="POST" action="">
                        {% csrf_token %}
                        
                        {{form|crispy}}
                        
                        <button type="submit" class="btn btn-outline-primary w-100 mb-3" value="Add Wishlist">Add Wishlist</button>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

<script>
    $(document).ready(function(){
        $.post()
    });
</script>
