{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<section class="vh-100" style="background-color:#36454F ; padding:4rem ;">

    <div class="card bg-dark text-white m-auto" style="width:60rem ; height:33rem ; border-radius: 2rem;">

        <div class="card-body" style="padding:50px ;">
        
            <h1>Formulir Registrasi</h1> 
            <br/> 

            <form method="POST" >  
                {% csrf_token %}  
                <table>  
                    {{ form.as_p }}
                </table> 
                
                <br/>
                <div class="text-center">
                    <button class="btn btn-outline-primary px-5" type="submit" name="submit" value="Daftar">Daftar</button>
                    <br/><br/>
                    <p>Already have an account? <a href="{% url 'wishlist:login' %}">Login</a></p>
                </div>
            </form>

            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}

        </div>

    </div>
</section>  

{% endblock content %}
